
<div class="container-fluid" id="maincontain">

  <div class="row">
    <div class="col-md-3"><!-- map col -->
      <div class="main-menu">
          <div id="titletxt">
            <h1 id="JTtitle"><strong>Hop.Pin</h1></strong>
          </div>
          <div class="panel" id="explainpanel"> <!-- pan for text -->
            <h3> Welcome to Hop.Pin! Use our map to find popular attractions for your next trip, or add your own hoppin' site.</h3> 
          </div> <!-- pan for text -->
          <div>
             <button type="button" class="btn btn-danger useroption" type="button" id="logoutButton"><span class="glyphicon glyphicon-user"></span> {{ message }}
            </button>           
            
            <button type="button" class="btn btn-danger useroption" id="loginButton" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Login Here.
            </button>          
            
            <button type="button" class="btn btn-danger useroption" id="modalButton" data-toggle="modal"><span class="glyphicon glyphicon-map-marker"></span>   Add a site
            </button>     
          </div>
      </div>      
    </div>
    <div class="col-9">
      <div id="main-navigation" class="menu-wrapper"></div>
      <div id="mapid" style="height: 100vh; z-index:9"></div>
    </div>  
  </div>
  <div class="modal custom fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modaldial">
        
        {{> (whichPartial) }}
        
      </div> {{!-- /.modal-content --}}
    </div> {{!-- /.modal-dialog --}}
  </div> {{!-- /.modal --}}
</div>  <!-- container -->
 
<script>

var loggedIn = {{loggedIn}};

var mymap = L.map('mapid', {'zoomControl': false,}).setView([38.9072, -77.0369], 13);
//this line bellow makes the control zoom apear on the right on the page
mymap.addControl(L.control.zoom({position: 'topright'}));
// not sure why this line bellow is here but might com in handy
// mymap.addControl(new L.control.Loading());
mymap.createPane('labels');
mymap.getPane('labels').style.zIndex = 650;
mymap.getPane('labels').style.pointerEvents = 'none';

var positron = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
  maxZoom: 16,
  ext: 'png'
});
positron.addTo(mymap);

var orangeIcon = L.icon({
  iconUrl: './assets/orange-imgs.png',
  iconSize:     [50, 50], // size of the icon
  iconAnchor:   [23, 38], // point of the icon which will correspond to marker's location
  popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
})
var yellowIcon = L.icon({
  iconUrl: './assets/yellow-imgs.png',
  iconSize: [50, 50], // size of the icon
  iconAnchor:   [23, 38], // point of the icon which will correspond to marker's location
  popupAnchor:  [0, 0]
})
var redIcon = L.icon({
  iconUrl: './assets/red-imgs.png',
  iconSize:     [50, 50], // size of the icon
  iconAnchor:   [23, 38], // point of the icon which will correspond to marker's location
  popupAnchor:  [0, 0]
})

{{#each attractions}}
var markerLocation = new L.LatLng({{this.lat}}, {{this.lng}});
var mapicon;
var counter = {{this.counter}};
if(counter<5){
  mapicon = yellowIcon;
}else if (counter >= 5 && counter <= 8){
  mapicon = orangeIcon;
}else if (counter > 8){
  mapicon = redIcon;
}

var temp = L.marker(markerLocation, {icon: mapicon}).addTo(mymap);
var place = "{{this.attraction}}";
var router = {{this.id}};

var texty = "<h3 class='buttonh3'>" + place + "</h3>";
//If logged in, loads the "I've been here!" button
if(loggedIn){
 texty += "<br><button type='submit' class='btn btn-default popupbtn' id="+ router +">I've been here!</button>";
}

var temppop = L.popup().setContent(texty);

console.log({{this.model}})

temp.bindPopup(temppop, { className: "popcss" });

{{/each}}  

//Hides the login button if when the user isn't logged in
console.log("logged in is " + loggedIn);
if(loggedIn) {
  $("#logoutButton").show();
  $("#loginButton").hide();
  $("#modalButton").show();        
} else {
  $("#logoutButton").hide();
  $("#loginButton").show();   
  $("#modalButton").hide();        
}
  
if({{modalActive}}) {
  console.log("modal is active");
  $("#myModal").modal();
}


$("#modalButton").on("click", function() {
  $("#myModal").modal();
});

$(document).on("click", ".popupbtn", function(){
  event.preventDefault();
  var idpass = this.id;
  console.log("idpass is "+idpass);
  console.log(counter);
  var passer = {
    "attractionId": idpass
  }
  $.post("/usercount", passer, function(req, res){
    console.log("success");
  })
});  


$("#loginButton").on("click", function(){
  $("#myModal").modal();
  $.get("/login");
});

$("#logoutButton").on("click", function() {
  window.location.replace("/logout");
})

</script>      

