
{{!-- <span class="pull-right" style="margin-right: 20px">
  <h4>
    {{ message }}!
    <a href="/logout" style="text-align: right;">{{ logout }}</a>
  </h4>
</span> --}}

<div class="container" id="maincontain">
{{!-- Displays username and provides logout via dropdown menu. Only appears when user is logged in thanks to jQuery --}}
<span class="dropdown btn-group pull-right" style="margin-right: 15px;" id="welcomeButton">
  <button type="button" class="btn btn-danger dropdown-toggle" id="logoutButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ message }}
  </button>
  <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <h4 style="text-align: right; margin-right: 10px;"><a class="dropdown-item" href="/logout">Logout</a></h4>
  </span>
</span>

  <div class="row">
    <div class="col-md-8 col-md-offset-2"><!-- jumbotron col -->
      <div class="jumbotron">
        
        <h1 class="text-center" id="JTtitle"><strong>Hop.pin</h1></strong></h1>
              
      </div> <!-- jumbotron class -->
    </div> <!-- jumbotron col -->
  </div>
  
  <div class="row"><!-- dialog row -->
    <div class="col-md-9 col-md-offset-1"> <!-- dialog col -->
          
      <div class="panel" id="explainpanel">
        <h3> Welcome to Hop.Pin, the best site to find popular, highly rated attractions for your next trip. Search the map for new ideas of places to visit or add a new hoppin' site with the marker button.</h3> 
      </div> 
      <div class="panel" id="buttonpan">  
        <button type="button" class="btn btn-danger" id="modalButton" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-map-marker"></span>
        </button>
      </div>  
    </div><!-- dialog col -->
  </div><!-- dialog row -->     


  <div class="row"><!-- map row -->
    <div class="col-md-10 col-md-offset-1"><!-- map col -->
      <div id="mapid" style="height: 100vh"></div>
    </div><!-- map col -->
  </div><!-- map row -->

  <div class="modal custom fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modaldial">
        
        {{> (whichPartial) }}
        
      </div> {{!-- /.modal-content --}}
    </div> {{!-- /.modal-dialog --}}
  </div> {{!-- /.modal --}}

</div>  <!-- container -->



<footer class="footer text-right">
  <div class="container">
    <span class="text-muted">&copy; Anastasia Mark, James Webber, Jon Christensen, and Will Tarkenton 2017</span>
  </div>
</footer>  
 
  <script>

  var mymap = L.map('mapid').setView([38.9072, -77.0369], 11);
  mymap.createPane('labels');
  mymap.getPane('labels').style.zIndex = 650;
  mymap.getPane('labels').style.pointerEvents = 'none';
  
  var positron = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
  maxZoom: 16,
  ext: 'png'
  });
  positron.addTo(mymap);

//this is where the pins are
//pins are var then name them, the line under the var is where the text goes 

//var popup = L.popup().className("popcss");  

{{#each attractions}}
  var {{this.route}} = L.marker([{{this.lat}}, {{this.lng}}]).addTo(mymap);
  //console.log("attraction" + typeof JSON.stringify({{this.route}}));
  var place = "{{this.attraction}}"
  var texty = "<b>" + place + "</b><br>description from google api."
  var temppop = L.popup().setContent(texty);
  // L.popup(minWidth=200);

  {{this.route}}.bindPopup(temppop, { className: "popcss" }).openPopup();

  $({{this.route}}).on("click", function() {

  		console.log("{{this.attraction}}" + " this is going");

  		var queryURL = "https://maps.googleapis.com/maps/api/place/textsearch/json?query=" + encodeURI(place) + "&key=AIzaSyB3JP72tQdTTasFMFLaFYLywEvTElmnEuA";

		$.ajax({

			url: queryURL,
			method: "GET"

		}).done(function(results) {

			texty = "<b>" + place + "</b><br>" + results[0].formatted_address + "<br>";
			queryURL = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=" + results.photos[0].photo_reference + "&key=AIzaSyB3JP72tQdTTasFMFLaFYLywEvTElmnEuA";

			// second api call for the photo, we may not even need this
			$.ajax({
				url: queryURL,
				method: "GET"

			}).done(function(results) {

				// texty += results[0].getUrl({ "maxWidth": 50px, "maxHeight": 50px}); //we'll figure this part out a little later
				{{this.route}}.bindPopup(texty).openPopup();

			})
		})
});

{{/each}}  
  
  //Hides the login button if when the user isn't logged in
  if($("#logoutButton").text().trim() === "") {
    $("#welcomeButton").hide();        
  }
    
  $("#modalButton").on("click", function() {
    $("#myModal").modal();
  });

</script>      

