<div class="container">

  <div class="jumbotron">
    <h1 class="text-center" id="JTtitle"><strong>Hop.pin</h1></strong></h1>

    <button type="button" class="btn btn-danger" id="modalButton" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-plus"</span></button>
  </div> <!-- jumbotron class -->

  <div id="mapid" style="height: 100vh"></div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {{>modal}} {{!-- If logged in, load logInModal, else load googAutoFill --}}
      </div> {{!-- /.modal-content --}}
    </div> {{!-- /.modal-dialog --}}
  </div> {{!-- /.modal --}}
</div>  <!-- container -->
 
  <script>

  var mymap = L.map('mapid').setView([38.9072, -77.0369], 13);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoid2lsbHl0NCIsImEiOiJjajdnaTE4a2wxOG5uMzNvNjdpMHBuYm1xIn0.rYXRK735nfMReoIB7JD6Sg'
  }).addTo(mymap);

//this is where the pins are
//pins are var then name them, the line under the var is where the text goes 
{{#each attractions}}
  var {{this.route}} = L.marker([{{this.lat}}, {{this.lng}}]).addTo(mymap);
  //console.log("attraction" + typeof JSON.stringify({{this.route}}));
  var place = "{{this.attraction}}"
  var texty = "<b>" + place + "</b><br>description from google api."
  console.log(texty);
  {{this.route}}.bindPopup(texty).openPopup();
  {{/each}}  

  $("#modalButton").on("click", function() {
    $("#myModal").modal();
  });
  
</script>      


{{!-- var WhiteHouse = L.marker([38.8975699,-77.03713257]).addTo(mymap);
WhiteHouse.bindPopup("<b>Hello world!</b><br>I am a joke.").openPopup(); --}}