
{{!-- <span class="pull-right" style="margin-right: 20px">
  <h4>
    {{ message }}!
    <a href="/logout" style="text-align: right;">{{ logout }}</a>
  </h4>
</span> --}}

<div class="container" id="maincontain">
{{!-- Displays username and provides logout via dropdown menu. Only appears when user is logged in thanks to jQuery --}}
{{!-- <span class="dropdown btn-group pull-right" style="margin-right: 15px;" id="welcomeButton">
  <button type="button" class="btn btn-danger dropdown-toggle" id="logoutButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ message }}
  </button>
  <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <h4 style="text-align: right; margin-right: 10px;"><a class="dropdown-item" href="/logout">Logout</a></h4>
  </span>
</span> --}}

  <div class="row">
    <div class="col-md-8 col-md-offset-2"><!-- jumbotron col -->
      <div class="jumbotron">
        
        <h1 class="text-center" id="JTtitle"><strong>Hop.pin</h1></strong></h1>
              
      </div> <!-- jumbotron class -->
    </div> <!-- jumbotron col -->
  </div>
  
  <div class="row"><!-- dialog row -->
    <div class="col-md-9 col-md-offset-1"> <!-- dialog col -->         
      
      <div class="panel" id="explainpanel"> <!-- pan for text -->
        <h3> Welcome to Hop.Pin! Use our map to find popular attractions for your next trip, or add your own hoppin' site.</h3> 
      </div> <!-- pan for text -->
      
      <div class="panel" id="buttonpan">  <!-- pan for buttons -->
        
{{!--         <div class="dropdown" id="welcomedrop">  <!-- div for logout drop -->
          <button type="button" class="btn btn-danger dropdown-toggle useroption" type="button" id="welcomeButton"><span class="glyphicon glyphicon-ok"></span> {{ message }}
          </button>
          <div class="dropdown-menu" aria-labelledby="welcomeButton">
            <a class="dropdown-item" href="/logout">Logout</a>
            <a class="dropdown-item" href="#">Action</a>
          </div>
        </div> <!-- div for logout drop -->  --}}

        <button type="button" class="btn btn-danger useroption" type="button" id="logoutButton"><span class="glyphicon glyphicon-user"></span> {{ message }}
        </button>           
        
        <button type="button" class="btn btn-danger useroption" id="loginButton" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Login Here.
        </button>          
        
        <button type="button" class="btn btn-danger useroption" id="modalButton" data-toggle="modal"><span class="glyphicon glyphicon-map-marker"></span>   Add a site
        </button>
      
      </div>  <!-- pan for buttons -->
    </div><!-- dialog col -->
  </div><!-- dialog row -->     


  <div class="row"><!-- map row -->
    <div class="col-md-10 col-md-offset-1"><!-- map col -->
      <div id="mapid" style="height: 100vh; z-index:9"></div>
    </div><!-- map col -->
  </div><!-- map row -->

  <div class="modal custom fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modaldial">
        
        {{> (whichPartial) }}
        
      </div> {{!-- /.modal-content --}}
    </div> {{!-- /.modal-dialog --}}
  </div> {{!-- /.modal --}}
</div>  <!-- container -->

<footer class="footer text-right">
  <div class="container">
    <span class="text-muted">&copy; Anastasia Mark, James Webber, Jon Christensen, and Will Tarkenton 2017</span>
  </div>
</footer>  
 
<script>

var mymap = L.map('mapid').setView([38.9072, -77.0369], 13);
mymap.createPane('labels');
mymap.getPane('labels').style.zIndex = 650;
mymap.getPane('labels').style.pointerEvents = 'none';

var positron = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
  maxZoom: 16,
  ext: 'png'
});
positron.addTo(mymap);

var orangeIcon = L.icon({
  iconUrl: './assets/orange-imgs.png',
  iconSize:     [50, 50], // size of the icon
  iconAnchor:   [23, 38], // point of the icon which will correspond to marker's location
  popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
})
var yellowIcon = L.icon({
  iconUrl: './assets/yellow-imgs.png',
  iconSize: [50, 50], // size of the icon
  iconAnchor:   [23, 38], // point of the icon which will correspond to marker's location
  popupAnchor:  [0, 0]
})
var redIcon = L.icon({
  iconUrl: './assets/red-imgs.png',
  iconSize:     [50, 50], // size of the icon
  iconAnchor:   [23, 38], // point of the icon which will correspond to marker's location
  popupAnchor:  [0, 0]
})

{{#each attractions}}
var markerLocation = new L.LatLng({{this.lat}}, {{this.lng}});
var mapicon;
var counter = {{this.counter}};
if(counter<5){
  mapicon = yellowIcon;
}else if (counter >= 5 && counter <= 8){
  mapicon = orangeIcon;
}else if (counter > 8){
  mapicon = redIcon;
}

var temp = L.marker(markerLocation, {icon: mapicon}).addTo(mymap);
var place = "{{this.attraction}}";
var router = {{this.id}};
var texty = "<h3 class='buttonh3'>" + place + "</h3><br><button type='submit' class='btn btn-default popupbtn' id="+ router +">I've been here!</button>";
var temppop = L.popup().setContent(texty);

console.log({{this.model}})

temp.bindPopup(temppop, { className: "popcss" });

{{/each}}  

//Hides the login button if when the user isn't logged in
console.log("logged in is " + {{ loggedin }});
if({{ loggedin }}) {
  $("#logoutButton").show();
  $("#loginButton").hide();
  $("#modalButton").show();        
}else{
  $("#logoutButton").hide();
  $("#loginButton").show();   
  $("#modalButton").hide();        
}
  
if({{modalActive}}) {
  console.log("modal is active");
  $("#myModal").modal();
}


$("#modalButton").on("click", function() {
  $("#myModal").modal();
});

$(document).on("click", ".popupbtn", function(){
  event.preventDefault();
  var idpass = this.id;
  console.log("idpass is "+idpass);
  console.log(counter);
  var passer = {
    "attractionId": idpass
  }
  $.post("/usercount", passer, function(req, res){
    console.log("success");
  })
});  


$("#loginButton").on("click", function(){
  $("#myModal").modal();
  $.get("/login");
});

$("#logoutButton").on("click", function() {
  window.location.replace("/logout");
})

</script>      

